/StarWars/.vs/StarWars/v15/sqlite3/storage.ide
/StarWars/StarWars/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StarWars/StarWars/obj/Debug/StarWars.csproj.CoreCompileInputs.cache
StarWars/.vs/StarWars/v15/Server/sqlite3/db.lock
StarWars/.vs/StarWars/v15/Server/sqlite3/storage.ide
StarWars/.vs/StarWars/v15/Server/sqlite3/storage.ide-shm
StarWars/.vs/StarWars/v15/Server/sqlite3/storage.ide-wal
