body {
    background-color: burlywood;
    margin-left: 50px;
    font-size: 24px;
}
div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
div, input {
    /*white-space: pre;*/
    display: block;
}
#blackbackground
{
    background-color: black;
}
input {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.centerText {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

.margintop {
    margin-top: 15px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 2px 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: silver;
}

th {
    background-color: silver;
}
